*{
  font-family: helvetica, serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navli {
  float: left;
}

li a {
  display: inline;
  color: white;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
  font-weight: bold;
}
li a:hover {
  background-color: paleturquoise;
}

}
.child{
  display: inline-block;
}
#navbar{
  padding-top: 5px;
  width: 100vw;
  position: fixed;
  background-color: turquoise;
}
header{
  padding-left: 20px;
  color:white;
  font-size: 11px;
  font-weight: bolder;
}
h1{
  margin-top: 60px;
}
.navv{
  display: flex;
  justify-content: right;
  padding-bottom: 8px;
}
.imghead{
  padding: 0;
}
body{
  margin:0px;
}
.wrapper{
  padding-bottom: 20px;
}
.row{
  box-sizing: border-box;
  border: 2px solid turquoise;
}
.column {
  float: left;
  width: 30%;
  padding: 0 10px;
  border: 1px solid turquoise;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.effect{
  padding: 20px 2px;
}